html, body{
    height: 100%;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height:100%;
    position: relative;;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
header{
    background-color: deeppink;
    color: black;
    padding: 15px;
    text-align: center;
}
nav{
    background-color: deeppink;
}

nav li{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 175px ;
    height: 20px;
    border-right: 1px solid black;
    text-align: center;
}
img.alignleft{
    margin:0 15px 0 0;
    padding:2px;
    border-radius: 50% 20% / 10% 40%;
    float: left;
}
img.alignright{
    margin:0 0 0 15px;
    float: right;
}
img.aligncenter{
    border-radius: 50% 20% / 10% 40%;
}


p.alignleft{
    text-align:left;
}
p.alignright{
    text-align: right;
}
.clear{
    clear:both;
}
#content{
    padding: 15px;
    height:100%;

}
footer, #push{
    height: 150px;
}
footer{
    list-style-type: none ;
    background-color:deeppink;
    text-align: center;
    margin-top: 2px;
}
